.product-prices-subform-wrapper .subform-repeatable-group{
    display: flex;
    flex-wrap: wrap;
}

.product-prices-subform-wrapper .control-group{
    display: flex;
    flex-direction: column;
}

.product-prices-subform-wrapper .control-label{
    padding: 0;
    margin: 0 5px;
}