parameters:
    level: 5
    paths:
        - administrator/src
        - site/src
        - api/src
        - plugins
        - modules

    excludePaths:
        - */vendor/*
        - */tmpl/*
        - */layouts/*
        - */language/*

    ignoreErrors:
        # Joomla dynamic properties and magic methods
        - '#Access to an undefined property#'
        - '#Call to an undefined method.*\\\\HtmlView::#'
        - '#Call to an undefined method.*\\\\BaseController::#'

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
