/* item prices subform */

.prices-subform .subform-repeatable-group{
    display: flex;
    flex-wrap: wrap;
}

.prices-subform .control-group{
    display: flex;
    flex-direction: column;
}

.prices-subform .control-label{
    padding: 0;
    margin: 0 5px;
}

/* order items subform */
.order-items-subform .subform-repeatable-group{
    display: flex;
    flex-wrap: wrap;
}

.order-items-subform .control-group{
    display: flex;
    flex-direction: column;
}

.order-items-subform .control-label{
    padding: 0;
    margin: 0 5px;
}


/* #paymentModal .modal-dialog */
/*  .com_alfa .modal-dialog {
    max-width: 95vw !important;
}*/
/*.com_alfa .modal-dialog .modal-body > div.row {
    margin-left:0;
    margin-right:0;
}*/
.table-mobile-responsive tbody td{
    white-space: nowrap;
}
@media screen and (max-width: 992px) {

    .table-mobile-responsive thead {
        display: none;
    }

    .table-mobile-responsive tr {
        border-bottom: 3px solid #000;
        display: block;
    }

    .table-mobile-responsive td {
        border-bottom: 1px solid #ddd !important;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .table-mobile-responsive td::before {
        content: attr(data-th);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .table-mobile-responsive td:last-child {
        border-bottom: 0;
    }
}



/* SHIPMENT COTS SUBFORM */
.subform-repeatable.shrinked-repeatable-table thead th { width: 1% !important; }
.subform-repeatable.shrinked-repeatable-table tbody td .controls { min-width:auto !important;max-width: 100px !important; }