<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_ALFA" name="alfa">

        <field
                name="include_subcategories"
                type="radio"
                default="1"
                layout="joomla.form.field.radio.switcher"
                label="Include Subcategories"
                description="Category show also subcategories items"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="stock_action" type="list"
               label="COM_ALFA_FORM_LBL_ITEM_STOCK_ACTION"
               description="COM_ALFA_FORM_DESC_ITEM_STOCK_ACTION"
               multiple="false"
               default="0">
            <option value="0">COM_ALFA_FORM_LBL_ITEM_STOCK_ACTION_NO_ACTION</option>
            <option value="1">COM_ALFA_FORM_LBL_ITEM_STOCK_ACTION_NOTIFY</option>
            <option value="2">COM_ALFA_FORM_LBL_ITEM_STOCK_ACTION_HIDE_OUT_OF_STOCK</option>
        </field>

        <field
                name="stock_low"
                type="number"
                label="COM_ALFA_FORM_LBL_ITEM_LOW_STOCK_VALUE"
                description="COM_ALFA_FORM_DESC_ITEM_LOW_STOCK_VALUE"
                min="1"
        />

        <field name="stock_low_message"
               label="COM_ALFA_FORM_LBL_ITEM_LOW_STOCK_MESSAGE"
               description="COM_ALFA_FORM_DESC_ITEM_LOW_STOCK_MESSAGE"
               type="editor"
               showon="stock_low!:"
        />

        <field name="stock_zero_message"
               label="COM_ALFA_FORM_LBL_ITEM_STOCK_AVAILABILITY"
               description="COM_ALFA_FORM_DESC_ITEM_STOCK_AVAILABILITY"
               type="editor"
        />

    </fieldset>

    <fieldset name="prices" label="COM_ALFA_CONFIG_PRICES_LABEL">
        <field
                name="prices_info"
                type="note"
                label=""
                description="COM_ALFA_CONFIG_PRICES_DESC"
                class="alert alert-info"
        />

        <!-- Base Price -->
        <fieldset name="base_price" label="COM_ALFA_CONFIG_BASE_PRICE_LABEL">
            <field
                    name="base_price_show"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_BASE_PRICE_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_BASE_PRICE_SHOW_DESC"
                    class="btn-group"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
            <field
                    name="base_price_show_label"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_BASE_PRICE_LABEL_DESC"
                    class="btn-group"
                    showon="base_price_show:1"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
        </fieldset>

        <!-- Discount Amount -->
        <fieldset name="discount_amount" label="COM_ALFA_CONFIG_DISCOUNT_LABEL">
            <field
                    name="discount_amount_show"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_DISCOUNT_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_DISCOUNT_SHOW_DESC"
                    class="btn-group"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
            <field
                    name="discount_amount_show_label"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_DISCOUNT_LABEL_DESC"
                    class="btn-group"
                    showon="discount_amount_show:1"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
        </fieldset>

        <!-- Subtotal (After Discounts) -->
        <fieldset name="base_price_with_discounts" label="COM_ALFA_CONFIG_SUBTOTAL_LABEL">
            <field
                    name="base_price_with_discounts_show"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_SUBTOTAL_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_SUBTOTAL_SHOW_DESC"
                    class="btn-group"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
            <field
                    name="base_price_with_discounts_show_label"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_SUBTOTAL_LABEL_DESC"
                    class="btn-group"
                    showon="base_price_with_discounts_show:1"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
        </fieldset>

        <!-- Tax Amount -->
        <fieldset name="tax_amount" label="COM_ALFA_CONFIG_TAX_LABEL">
            <field
                    name="tax_amount_show"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_TAX_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_TAX_SHOW_DESC"
                    class="btn-group"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
            <field
                    name="tax_amount_show_label"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_TAX_LABEL_DESC"
                    class="btn-group"
                    showon="tax_amount_show:1"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
        </fieldset>

        <!-- Base Price with Tax -->
        <fieldset name="base_price_with_tax" label="COM_ALFA_CONFIG_BASE_WITH_TAX_LABEL">
            <field
                    name="base_price_with_tax_show"
                    type="radio"
                    default="0"
                    label="COM_ALFA_CONFIG_BASE_WITH_TAX_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_BASE_WITH_TAX_SHOW_DESC"
                    class="btn-group"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
            <field
                    name="base_price_with_tax_show_label"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_BASE_WITH_TAX_LABEL_DESC"
                    class="btn-group"
                    showon="base_price_with_tax_show:1"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
        </fieldset>

        <!-- Final Price -->
        <fieldset name="final_price" label="COM_ALFA_CONFIG_FINAL_PRICE_LABEL">
            <field
                    name="final_price_show"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_FINAL_PRICE_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_FINAL_PRICE_SHOW_DESC"
                    class="btn-group"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
            <field
                    name="final_price_show_label"
                    type="radio"
                    default="1"
                    label="COM_ALFA_CONFIG_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_FINAL_PRICE_LABEL_DESC"
                    class="btn-group"
                    showon="final_price_show:1"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
        </fieldset>

        <!-- Price Breakdown (NEW!) -->
        <fieldset name="price_breakdown" label="COM_ALFA_CONFIG_BREAKDOWN_LABEL">
            <field
                    name="price_breakdown_show"
                    type="radio"
                    default="0"
                    label="COM_ALFA_CONFIG_BREAKDOWN_SHOW_LABEL"
                    description="COM_ALFA_CONFIG_BREAKDOWN_SHOW_DESC"
                    class="btn-group"
            >
                <option value="1">JSHOW</option>
                <option value="0">JHIDE</option>
            </field>
        </fieldset>

    </fieldset>

    <fieldset name="currencies" label="Currency Settings">
        <field
                name="default_currency"
                type="sql"
                default="978"
                label="Default Currency"
                query="SELECT number, name FROM #__alfa_currencies ORDER BY name ASC" key_field="number"
                value_field="name"
        />
    </fieldset>

    <fieldset name="mediazone">
        <field
                name="media_file_format"
                type="list"
                label="Convert Images to:"
                description=""
        >
            <option value="">Don't Convert</option>
            <option value="jpg">JPG</option>
            <option value="png">PNG</option>
            <option value="webp">WEBP</option>
            <option value="gif">GIF</option>
        </field>

        <field
                name="media_image_quality"
                type="number"
                label="Select Images Quality:"
                min="1"
                default="80"
                max="100"
                description=""
        />

        <field
                name="media_image_width"
                type="int"
                label="Select Images Maximum Width:"
                min="1"
                default="1920"
                max="5000"
                description=""
        />

        <field
                name="media_image_height"
                type="int"
                label="Select Images Maximum Height:"
                min="1"
                default="1080"
                max="5000"
                description=""
        />

        <field
                name="media_save_location"
                type="text"
                default="/images/media-zone"
                hint="/images/example-folder"
                label="Media save location:"
                description="Insert your preferred folder path for your media to be saved in. The default destination is &lt;code&gt;/images/media-zone&lt;/code&gt;"
                size="150"
        />

        <field
                name="media_mime"
                type="list"
                multiple="true"
                layout="joomla.form.field.list-fancy-select"
                label="Allowed image types:"
                default=""
        >
            <option value="image/jpeg">Jpeg</option>
            <option value="image/gif">Gif</option>
            <option value="image/png">Png</option>
            <option value="image/bmp">Bmp</option>
            <option value="image/webp">WebP</option>
            <option value="image/avif">Avif</option>
        </field>

        <field
                name="media_placeholder"
                type="text"
                default=""
                hint="media/com_alfa/images/placeholder_600x.webp"
                label="Media placeholder image:"
                description="Insert the path/location (e.g. for default placeholder use &lt;code&gt;media/com_alfa/images/placeholder_600x.webp&lt;/code&gt; or put a custom url) of the image you want to be used as a placeholder when media fails to load."
                size="150"
        />

        <field
                name="media_url_thumbnail"
                type="text"
                default="images/url_thumbnail.jpg"
                hint="images/url_thumbnail.jpg"
                label="URL thumbnail:"
                description="Insert the path/location (e.g. &lt;code&gt;images/url_thumbnail.jpg&lt;/code&gt; or put a custom url) of the image you want to be used as a URL preview thumbnail."
                size="150"
        />

        <field
                name="media_thumbnail_width"
                type="int"
                label="Thumbnail Maximum Width (px):"
                min="50"
                default="200"
                max="500"
                description=""
        />

        <field
                name="media_thumbnail_height"
                type="int"
                label="Thumbnail Maximum Height (px):"
                min="50"
                default="200"
                max="500"
                description=""
        />

        <field
                name="media_full_deletion"
                type="radio"
                default="0"
                label="Complete media deletion:"
                description="When enabled, deleting media removes the database record as well as the actual file from your Joomla folder."
                layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="media_name_from_alias"
                type="radio"
                default="0"
                label="Use media alias as file name:"
                description="When enabled, saved media files use their alias as a name. (e.g '123456-test.png' -> 'smartphone.png')"
                layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="component">
        <field
                name="save_history"
                type="radio"
                default="0"
                label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
                description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
                layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
               description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5" showon="save_history:1"/>

        <field
                name="sef_ids"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                default="1"
                label="Remove IDs from item/product URLs"
                description="Remove the IDs from the item/product URLs of items this component."
                filter="integer"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset
            name="cache"
            label="COM_ALFA_CONFIG_CACHE_SETTINGS"
            description="COM_ALFA_CONFIG_CACHE_SETTINGS_DESC"
    >

        <field
                name="enable_cache"
                type="radio"
                label="COM_ALFA_CONFIG_ENABLE_CACHE"
                description="COM_ALFA_CONFIG_ENABLE_CACHE_DESC"
                class="btn-group btn-group-yesno"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="cache_categories"
                type="radio"
                label="COM_ALFA_CONFIG_CACHE_CATEGORIES"
                description="COM_ALFA_CONFIG_CACHE_CATEGORIES_DESC"
                class="btn-group btn-group-yesno"
                default="1"
                showon="enable_cache:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                validate="rules"
                filter="rules"
                component="com_alfa"
                section="component"
        />
    </fieldset>

</config>
        <!--
        ########################################################################################
        The following are a list of all the different types of fields you can add to this file
        They are here for copy pasting - neat eh?
        ########################################################################################

        https://docs.joomla.org/Standard_form_field_types
        <field name="mycalendar" type="calendar" default="5-10-2008" label="Select a date" description="" format="%d-%m-%Y" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="mycategory" type="category" label="Select a category" description="" section="3" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="myeditor" type="editors" default="none" label="Select an editor" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="myfile" type="filelist" default="" label="Select a file" description="" directory="administrator" filter="" exclude="" stripext="" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="myfolder" type="folderlist" default="" label="Select a folder" directory="administrator" filter="" exclude="" stripext="" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="myhelpsite" type="helpsites" default="" label="Select a help site" description="" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="mysecretvariable" type="hidden" default="" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="myimage" type="imagelist" default="" label="Select an image" description="" directory="" exclude="" stripext="" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="mylanguage" type="languages" client="site" default="en-GB" label="Select a language" description="" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="mylistvalue" type="list" default="" label="Select an option" description="">
          <option value="0">Option 1</option>
          <option value="1">Option 2</option>
        </field>

        https://docs.joomla.org/Standard_form_field_types
        <field name="mymenu" type="menu" default="mainmenu" label="Select a menu" description="Select a menu" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="mymenuitem" type="menuitem" default="45" label="Select a menu item" description="Select a menu item" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="mypassword" type="password" default="secret" label="Enter a password" description="" size="5" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="myradiovalue" type="radio" default="0" label="Select an option" description="">
          <option value="0">1</option>
          <option value="1">2</option>
        </field>

        https://docs.joomla.org/Standard_form_field_types
        <field type="spacer" default="&lt;b&gt;Advanced parameters&lt;/b&gt;" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="myfield" type="sql" default="10" label="Select an article" query="SELECT id, title FROM #__content" key_field=”id” value_field=”title” />

        https://docs.joomla.org/Standard_form_field_types
        <field name="mytextvalue" type="text" default="Some text" label="Enter some text" description="" size="10" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="mytextarea" type="textarea" default="default" label="Enter some text" description="" rows="10" cols="5" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="mytimezone" type="timezones" default="-10" label="Select a timezone" description="" />

        https://docs.joomla.org/Standard_form_field_types
        <field name="myusergroups" type="usergroup" default="" label="Select a user group" description="" />


        -->
